    <!-- login section start -->
    <section class="login_container py-20" >

        <form action="/login" method="POST">
            <div class="links">
                <h3 class="title">Sign in with</h3>
                <div class="buttons">
                    <a href="#" class="btn"><i class="fab fa-google"></i>Google</a>
                    <a href="#" class="btn"><i class="fab fa-facebook"></i>Facebook</a>
                </div>
            </div>

            <div class="input-box">
                
                <h3 class="title">or Sign in with email & password</h3>
                <% if(messages.error) { %>
                   <span class="textshow"><%= messages.error %></span>
                <% } %>
                <div class="input">
                    <span class="far fa-envelope"></span>
                    <input id="email" name="email" type="email" placeholder="enter email">
                </div>
                <div class="input">
                    <span class="fas fa-lock"></span>
                    <input name="password" id="password" type="password" placeholder="********************">
                </div>
                <div class="checkbox">
                    <input type="checkbox" name="" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <button type="submit" class="btn">sgin in</button>
            </div>
        </form>
    
    </section>
    <!-- login section end -->
