<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />


  <!-- Carousel -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.min.css
">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="/css/app.css" />
  <!-- Font Awesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <title>Phone Shop</title>
</head>

<body>

  <!-- Header -->
  <header id="header" class="header">
    <div class="navigation">
      <div class="container">
        <nav class="nav">
          <div class="nav__hamburger">
            <svg>
              <use xlink:href="/img/sprite.svg#icon-menu"></use>
            </svg>
          </div>

          <div class="nav__logo">
            
            <a href="/"><i class="fas fa-microscope"></i>ELECTRO</a>
            <!-- <a href="/" class="scroll-link">
              ELECTRO
            </a> -->
          </div>

          <div class="nav__menu">
            <div class="menu__top">
              <span class="nav__category">PHONE</span>
              <a href="#" class="close__toggle">
                <svg>
                  <use xlink:href="/img/sprite.svg#icon-cross"></use>
                </svg>
              </a>
            </div>
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#header" class="nav__link scroll-link">Home</a>
              </li>
              <li class="nav__item">
                <a href="#category" class="nav__link scroll-link">Category</a>
              </li>
              <!-- <li class="nav__item">
                <a href="#news" class="nav__link scroll-link">Blog</a>
              </li> -->
              <li class="nav__item">
                <a href="#contact" class="nav__link scroll-link">Contact</a>
              </li>
            </ul>
          </div>

          <div class="icons">
            <% if(user) { %>
                <form id="logOut" action="/logout" method="POST"> </form>  
                    <a onclick="document.getElementById('logOut').submit()" href="#"><i class="fas fa-sign-out-alt"></i></a>
                <% if(user.role === 'admin') { %>
                    <a href="/admin/orders"><i class="fas fa-box"></i></a>
                <% } else { %>
                    <a href="/customer/orders"><i class="fas fa-box"></i></a>
                <% } %>
            <% } else { %>    
                <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
                <a href="/registration"><i class="fas fa-user-plus"></i></a>
            <% } %>
            <% if(user) { %>
                <% if(user.role === 'admin') { %>
                    <a href="/users"><i class="fas fa-user-tie"></i></a>
                <% } else { %>
                    <a href="/cart" class="fas fa-shopping-cart">
                        <span id="cartCounter"><%= session.cart ? session.cart.totalQty : '' %></span>
                    </a>
                <% } %>
            <% } %>
        </div>
        </nav>
      </div>
    </div>

    <!-- Hero -->

  </header>
  <!-- End Header -->

  <!-- Body Start -->
  <%- body %>
  <!-- Body End -->


  <!-- Footer -->
  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer__top">
        <div class="footer-top__box">
          <h3>EXTRAS</h3>
          <a href="#">Brands</a>
          <a href="#">Gift Certificates</a>
          <a href="#">Affiliate</a>
          <a href="#">Specials</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-top__box">
          <h3>INFORMATION</h3>
          <a href="#">About Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Contact Us</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-top__box">
          <h3>MY ACCOUNT</h3>
          <a href="#">My Account</a>
          <a href="#">Order History</a>
          <a href="#">Wish List</a>
          <a href="#">Returns</a>
        </div>
        <div class="footer-top__box">
          <h3>CONTACT US</h3>
          <div>
            <span>
              <svg>
                <use xlink:href="/img/sprite.svg#icon-location"></use>
              </svg>
            </span>
            Mirpur - 10, Dhaka - 1217, Bangladesh
          </div>
          <div>
            <span>
              <svg>
                <use xlink:href="/img/sprite.svg#icon-envelop"></use>
              </svg>
            </span>
            mahmudur.nabid@gmail.com
          </div>
          <div>
            <span>
              <svg>
                <use xlink:href="/img/sprite.svg#icon-phone"></use>
              </svg>
            </span>
            +880 1676 298877
          </div>
          <div>
            <span>
              <svg>
                <use xlink:href="/img/sprite.svg#icon-paperplane"></use>
              </svg>
            </span>
            Dream City, Dhaka
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer-bottom__box">

      </div>
      <div class="footer-bottom__box">

      </div>
    </div>
    </div>
  </footer>
  <!-- End Footer -->
 
  <!-- PopUp -->
  <div class="popup hide__popup">
    <div class="popup__content">
      <div class="popup__close">
        <svg>
          <use xlink:href="/img/sprite.svg#icon-cross"></use>
        </svg>
      </div>
      <div class="popup__left">
        <div class="popup-img__container">
          <img class="popup__img" src="/img/pic-2.jpg" alt="popup">
        </div>
      </div>
      <div class="popup__right">
        <div class="right__content">
          <h1>Get Discount <span>30%</span> Off</h1>
          <p>Sign up to our newsletter and save 30% for you next purchase. No spam, we promise!
          </p>
          <form action="#">
            <input type="email" placeholder="Enter your email..." class="popup__form">
            <a href="#">Subscribe</a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Go To -->

  <a href="#header" class="goto-top scroll-link">
    <svg>
      <use xlink:href="/img/sprite.svg#icon-arrow-up"></use>
    </svg>
  </a>


  <!-- Glide Carousel Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
  <!-- Animate On Scroll -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Custom JavaScript -->

  <script src="/js/app.js"></script>

</body>

</html>